<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <%= link_to t(".new_user"), new_admin_user_path, class: "btn btn-sm btn-success" %>
    </div>
    <div class="col-md-7 align-self-center text-right">
      <div class="d-flex justify-content-end align-items-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to t(".home"), admin_home_path %></li>
          <li class="breadcrumb-item active"><%= t ".new_user" %></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= t ".new_user" %></h4>
          <div class="border-search">
            <%= render partial: "search", search: @search %>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".stt" %></th>
                  <th><%= t ".avata" %></th>
                  <th><%= t ".email" %></th>
                  <th><%= t ".role" %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: :user, collection: @users %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @users, theme: Settings.theme.theme_config %>
</div>
