<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= yield :banner %>
    <div class="container mt-70">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
